.App {
  text-align: center;
  background-color: #29A0B1;
  height: 250vh;
}

.App-header {
  background-color: #167D7F;
  display: flex;
  flex-direction: initial;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
  justify-content:space-between;
  align-items:center; 
  
  
  p,h4 {
    align-self: center;
    margin:8px;
  }
  p {
    font-size:15px;
  }

  .item-but{
    text-decoration: none;
    font-size:17px;
    padding:5px;
    color: white;
  }

  .item-but:hover {
    color: #98D7C2;
    font-size: 21px;
  }

  .item-but .item-but:hover {
    color: #0088a9;
  }

  .pages{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding:12px;
  }
  
}
