.App {
  text-align: center;
}

.App-header {
  background-color: #167D7F;
  display: flex;
  flex-direction: initial;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
  justify-content:space-between;
  align-items:center; 
  
  
  p,h4 {
    align-self: center;
    margin:8px;
  }
  p {
    font-size:15px;
  }

  .item-but{
    text-decoration: none;
    font-size:15px;
    padding:5px;
    color: white;
  }

  .item-but .item-but:hover {
    color: #0088a9;
  }

  .pages{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding:12px;

    // list-style-type: none;
    // margin: 0;
    // padding: 0;
    // overflow: hidden;
    // background-color: #333;
    // position: -webkit-sticky; /* Safari */
    // position: sticky;
    // top: 0;
  }
  
}
